data/derivatives
data/Codebook.csv
data/HEP Literature - Normalization.docx
data/HEP - Pubmed Results.csv
data/HEP - Manual.csv

# Supporting files (CSS styles, JS) for the HTML report
results/manuscript_statistics_files/

.Rdata
.Rhistory
.lintr
.vscode/
